@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* //////////////////////////////////// COLOR VARIABLES //////////////////////////////////////// */
:root {
  color-scheme: light dark;

/* Base standards */
  color: #ffffffde;
  --color: #ffffffde;
  background: linear-gradient(to right, #01000f, #01000f, #01000f, #01000f, #000e25);
  --background: #01000f;  

  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-hover: 5px 5px 10px rgba(0, 0, 0, 1);

/* About Images */
  --image: url('/public/patternDark.png');
  --image-mobile: url('/public/patternDarkM.png');

/* Main colors */
  --color-full: #20adff;  
  --hover-100: #67edff;
  --hover-200:  #005085;

  --border: #377dff67;
  --back: #000b1f;
  --back-hover: #000f2b;
  
  --button: #47d4ff7a;
  --button-back: #00091a;  
  --cant: #cf3374;
  --cant-back: #5a0328;

  --mobile-color-full: #20a6ff;
  --mobile-button: #20a6ffce;
  --mobile-border-100: #20a6ffbb;
  --mobile-border-200: #20a6ff86;

/* Project Colors */
  --project: linear-gradient(to top, #00091a, #00244d);
  --project-border: #0077ff;

/* Navigation bar colors */
  --active: #20adff;
  --not-active: #20a6ffbb;
  --active-background: #20a6ff69;
  --active-nav-background: linear-gradient(to top, #00091a, #002652);

/* Skill box colors */
  --one: #7fd6ff;
  --two: #f325f3;
  --three: #c9eb0c;
  --four: #4be04b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
  /* Base standards */
    color: #213547;
    --color: #213547;
    background: linear-gradient(to right, #f8f8f8, #f8f8f8, #f8f8f8, #f1f1f1);
    --background: #f8f8f8;
    
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    --shadow-hover: 5px 5px 10px rgba(0, 0, 0, 0.35);

  /* About Images */
    --image: url('/public/patternLight.png');
    --image-mobile: url('/public/patternLightM.png');


  /* Main colors */
    --color-full: #646cff;    
    --hover-100: #000dff;
    --hover-200: #b9bdff;

    --border: #b3b7ff;
    --back: #f0f0f0;
    --back-hover: #f0f0f0;

    --button: #969cff;
    --button-back: #ffffff;    
    --cant: #cf3374;
    --cant-back: #fa9fc5;
    
    --mobile-color-full: #7e85ff;
    --mobile-button: #8284ff;
    --mobile-border-100: #7e85ff;
    --mobile-border-200: #969bff93;
    
  /* Project Colors */
    --project:  linear-gradient(to top,  #f8f8f8, #e2e2e2);
    --project-border: #646cff9d;

  /* Navigation bar colors */
    --active: #000dff;
    --not-active: #646cffe1;
    --active-background: #d6d7ff;
    --active-nav-background: #f8f8f8;

  /* Skill box colors */
    --one: #008cff;
    --two: #ac00ac;
    --three: #cfb313;
    --four: #11c911;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////// */




* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  outline: none;
}
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
}
h1, h2, h3, p, a, svg, img {
  user-select: none;
}

.container {
  max-width: 1200px;
  min-height: calc(100vh - 40px);
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
}
@media (max-width: 500px){
  .center {
    width: 100%;
  }
}

.Title {
  padding: 115px 0 0;
  font-size: 36px;
  color: var(--color-full);
}
@media (max-width: 500px) {
  .Title {
    padding: 110px 0 0;
    font-size: 34px;
    color: var(--mobile-color-full);
  }
}

.mt {
  margin: 100px 0 0;
}

.border {
  border: 2px solid var(--color-full);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 45px;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid var(--mobile-button);
  background-color: var(--button-back);
  color: var(--mobile-button);
  box-shadow: var(--shadow);
  transition: 0.2s;
}button:hover {
  color: var(--hover-100);
  border-color: var(--color-full);
  background-color: var(--hover-200);
  transform: translateY(-2px);
  box-shadow: var(--shadow-hover);
}
button i {
  font-size: 20px;
  margin: 0 -2px -4px -4px;
}

::-webkit-scrollbar {
  width: 0px;
}

 a {
   font-weight: 500;
   color: var(--color-full);
   text-decoration: inherit;
   cursor: pointer;
 }
 a:hover {
   color: var(--color-full);
 }



.UpDown {
  animation: UpDown 3s infinite;
}
@keyframes UpDown {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px); /* Ajuste o valor conforme necessário */
  }
  100% {
    transform: translateY(1px);
  }
}