@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  color-scheme: light dark;

  color: #ffffffde;
  --color: #ffffffde;

  background: linear-gradient(to right, #01000f, #01000f, #01000f, #000d22);
  --background: #01000f;
  
  --image: url('/public/patternDark.png');
  --image-mobile: url('/public/patternDarkMobile.png');

  --color-full: #20adff;
  --border: #377dff67;
  --back: #000b1f;
  --back-hover: #000f2b;
  
  --button: #47d4ff7a;
  --button-back: #00091a;

  --hover-100: #67edff;
  --hover-200:  #005085;

  --project: linear-gradient(to top, #00091a, #002652);

  --mobile-color-full: #20adff;
  --mobile-button: #20a6ffce;
  --mobile-border-100: #20a6ffbb;
  --mobile-border-200: #20a6ff86;

  --active: #9bdaff;
  --active-background: #20a6ff69;
  --active-nav-background: linear-gradient(to top, #00091a, #002652);

  --cant: #cf3374;
  --cant-back: #5a0328;

  --one: #7fd6ff;
  --two: #f325f3;
  --three: #c9eb0c;
  --four: #4be04b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --color: #213547;
    background: linear-gradient(to right, #f8f8f8, #f8f8f8, #f8f8f8, #f1f1f1);
    --background: #f8f8f8;

    --image: url('/public/patternLight.png');
    --image-mobile: url('/public/patternLightMobile.png');
    
    --color-full: #646cff;
    --border: #b3b7ff;
    --back: #f0f0f0;
    --back-hover: #f0f0f0;

    --button: #969cff;
    --button-back: #ffffff;
    
    --hover-100: #000dff;
    --hover-200: #b9bdff;
    
    --project:  linear-gradient(to top,  #f8f8f8, #e2e2e2);

    --mobile-color-full: #7e85ff;
    --mobile-button: #8284ff;
    --mobile-border-100: #7e85ff;
    --mobile-border-200: #969bff93;

    --active: #000dff;
    --active-background: #d6d7ff;
    --active-nav-background: #f8f8f8;
    
    --cant: #cf3374;
    --cant-back: #fa9fc5;

    --one: #008cff;
    --two: #ac00ac;
    --three: #cfb313;
    --four: #11c911;
  }
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  outline: none;
}
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
}
h1, h2, h3, p, a, svg, img {
  user-select: none;
}

.container {
  max-width: 1200px;
  min-height: calc(100vh - 40px);
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
}
@media (max-width: 500px){
  .center {
    width: 100%;
  }
}

.Title {
  padding: 115px 0 0;
  font-size: 36px;
  color: var(--color-full);
}
@media (max-width: 500px) {
  .Title {
    padding: 110px 0 0;
    font-size: 34px;
    color: var(--mobile-color-full);
  }
}

.mt {
  margin: 100px 0 0;
}

.border {
  border: 2px solid var(--color-full);
}

.Scroll {
  color: white;
}

.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

button {
  width: 180px;
  height: 45px;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid var(--mobile-button);
  background-color: var(--button-back);
  color: var(--mobile-button);
  transition: 0.2s;
}button:hover {
  color: var(--hover-100);
  border-color: var(--color-full);
  background-color: var(--hover-200);
  transform: translateY(-2px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 0px;
}

 a {
   font-weight: 500;
   color: var(--color-full);
   text-decoration: inherit;
   cursor: pointer;
 }
 a:hover {
   color: var(--color-full);
 }

 