@media (min-width: 500px) {
   .social:hover {
      border: 1.5px solid var(--color-full);
      background-color: var(--back-hover);
      box-shadow: var(--shadow-hover);
   }

   .icon:hover {
      color: var(--color-full);
      transform: translateY(-3px);
   }   
   
   .skill:hover {
   border: 1.5px solid var(--color-full);
   background-color: var(--back-hover);
   transform: translateY(-3px);
   box-shadow: var(--shadow-hover);
   }

   .skill a:hover {
      color: var(--hover-100);
   }
}

#Home {
   width: 100%;
   height: 100vh;
}

#Home-container {
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   margin: 0 auto; 
   text-align: left;
   gap: 0px;
}

.profile-section {
   display: flex;
   align-items: left;
   flex-direction: column;
   margin: 70px 0 0 20px;
   width: 100%;
}

.animated-text > h3 {
   font-weight: 500;
   font-size: 27px;
   margin: 0 0 0 3px;
}
.animated-text > h1{
   font-weight: 600;
   font-size: 56px;
   margin: -14px 0 -10px;
}
.animated-text > h2{
   font-weight: 500;
   font-size: 35px;
   margin: 0;
}
.animated-text span {
   position: relative;
   color: var(--color-full);
   margin-left: 10px;
}

.animated-text span::before{
   content: '';
   animation: words 25s infinite;
}

@keyframes words {
   0%, 20% {
       content: 'Desenvolvedor Web';
   }
   21%, 40% {
       content: 'Full-Stack Develpoer';
   }
   41%, 60% {
       content: 'UX/UI Designer';
   }
   61%, 80% {
       content: 'Back End & Front End';
   }  
   81%, 100% {
       content: 'Cientista de dados';
   }
}

.animated-text span::after{
   content: '';
   position: absolute;
   width: calc(100% + 18px);
   height: 108%;
   right: -10px;
   margin: 0 0 0 -5px;
   border-left: 3px solid var(--color-full);
   background: var(--background); /* Precisa ser da cor do fundo */
   transition: 0.3s;
   animation: cursor 1s infinite, typing 25s steps(18) infinite;
}

@keyframes cursor {
   0% {
       border-left: 3px solid var(--background); /* Precisa ser da cor do fundo */
       transition: 0.4s;
   }
}

@keyframes typing {
   10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
       width: 0;
   }
   5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
       width: calc(100% + 10px);
   }
}

.social {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 160px;
   padding: 10px 16px 5px;
   margin: 10px 0 10px 0px;
   border-radius: 12px;
   border: 1.5px solid var(--border);
   background-color: var(--back);
   color: var(--color);
   box-shadow: var(--shadow);
   transition: 0.17s;
}

.icon {
   font-size: 30px;
   text-decoration: none;
   padding: 0 5px;
   color: var(--color);
   transition: 0.2s;
}

/* /////////////////////////////////////////////////////////////////////////// */
.skills_container {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
   margin: 0 0 0 100px;
}

.skills {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   text-align: center;
   padding-top: 50px;
}

.skill {
   display: flex;
   align-items: left;
   flex-direction: column;
   justify-content: start;
   text-align: start;
   width: 185px;
   height: 185px;
   padding: 15px 15px 15px 15px;
   border-radius: 0px;
   border: 1.5px solid var(--border);
   background-color: var(--back);
   box-shadow: var(--shadow);
   transition: 0.2s;
}

.skill svg {
   width: 28px;
   height: 28px;
   margin-top: 5px;
}

.skill h2 {
   font-family: Share Tech Mono;
   font-size: 16px;
   font-weight: 900;
   margin: 4px 0 4px;
}

.skill-text {
   height: 85px;
}

.skill p {
   font-size: 14px;
}

.link {
   margin: 0px 0 0 0;
}

.link a {
   font-size: 12px;
   text-decoration: underline;
   padding: 5px 5px 5px -5px;
}

.one {
   color: var(--one);
} .two {
   color: var(--two);
} .three {
   color: var(--three);
} .four {
   color: var(--four);
}

/* /////////////////////////////////////////////////////////////////////////// */

@media (max-width: 500px) {
   .social:active {
      border: 1.5px solid var(--color-full);
      background: var(--back-hover);
      box-shadow: var(--shadow-hover);
   }

   .icon:active {
      color: var(--color-full);
      transform: translateY(-3px);
   }

   .skill:active {
      border: 1.5px solid var(--color-full);
      background: var(--back-hover);
      transform: translateY(-5px);
      box-shadow: var(--shadow-hover);
   }
   
   .skill a:hover {
      color: var(--hover-100);
   }

   #Home {
      width: 100%;
      height: 900px;
   }

   #Home-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      width: 100%;
      height: 900px;
      gap: 30px;
  }

  .profile-section {
      display: flex;
      align-items: start;
      margin: 0;
      min-height: 380px;
  }

  .profile {
      margin-top: 105px;
  }

  .animated-text {
      display: flex;
      align-items: start;
      flex-direction: column;
      width: 300px;
      margin: 0px 0px 0px 7px;
  }

  .animated-text > h3 {
      font-weight: 600;
      font-size: 23px;
      margin: 0px 0px 0px 2px;
  }

  .animated-text > h1{
      font-weight: 600;
      font-size: 40px;
      margin: -10px 0px 0px 0px;
  }

  .animated-text > h2{
      font-weight: 600;
      font-size: 21px;
      margin: -5px 0px 0px 0px;
  }

  .animated-text span {
      position: relative;
      color: var(-color-M);
  }
  
  .animated-text span::before{
      content: '';
      animation: words 25s infinite;
  }

  .animated-text span::after{
      content: '';
      position: absolute;
      width: calc(100% + 5px);
      height: 110%;
      right: -8px;
      background: var(--background); /* Precisa ser da cor do fundo */
  }

  .social {
      margin: 15px 0 20px 4.5px;
      width: 140px;
      height: 30px;
      border-color: var(--M-border-200);
      /* border-color: var(--M-border-900); */
  }

  .icon {
      font-size: 27px;
      color: var(--color);
  }

  /* ///////////////////////////////////////////////// */
   .skills_container {
      display: flex;
      width: 100%;
      height: 425px;
      padding: 0px 0px 50px 0px;
      margin: 0;
   }

   .skills {
      grid-gap: 10px;
      padding-top: 0px;
   }

   .skill {
      display: flex;
      align-items: left;
      flex-direction: column;
      justify-content: start;
      text-align: start;
      max-width: 145px;
      height: 170px;
      padding: 15px;
      border-color: var(--M-border-200);
      /* border-color: var(--M-border-900); */
      transition: 0.08s;
   }

   .skill svg {
      width: 30px;
      height: 30px;
      margin-top: 0px;
   }

   .skill h2 {
      font-family: Share Tech Mono;
      font-size: 15px;
      font-weight: 900;
      margin: 3px 0 2px;
   }

   .skill-text {
      height: 90px;
      padding: 0px 0px 0px 0px;
   }

   .skill p {
      font-size: 13px;
   }

   .link {
      margin: 0px 0 0 0;
   }

   .link a {
      margin: 0;
      text-decoration: underline;
      font-size: 11px;
   }
}
