@media (min-width: 500px) {
   .project:hover {
      border-color: var(--color-full);
      transform: translateY(-2px);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   }

   .project-link a:hover {
      color: var(--hover-100);
      border-color: var(--color-full);
      background-color: var(--hover-200);
      transform: translateY(-2px);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   }
   .cant-btn a:hover {
      color: var(--cant);
      border-color: var(--cant);
      background-color: var(--cant-back);
      text-decoration: line-through;
      cursor: not-allowed;
   }
}


#Projects {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.project {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0px;
   width: 970px;
   padding: 30px;
   margin: 30px 0;
   border-radius: 12px;
   border: 1px solid var(--color-full);
   background: var(--project);
   transition: 0.3s;
}

.project-img {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 490px;
}

.project-img img {
   width: 500px;
   cursor: pointer;
}

.project-about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 400px;
   margin: 0px 0px 0px 0px;
}

.project h2 {
   font-family: Share Tech Mono;
   font-size: 30px;
   font-weight: 900;
   margin: 0px;
   text-align: start;
   margin: 0px 0 0px 0px;
}

.project p {
   font-size: 16px;
   font-weight: 600;
   text-align: start;
   margin: 0px 0px 0 7px; /*top left bottom right*/
}

.stack-icons {
   display: flex;
   align-items: center;
   justify-content: center;
}

.stack-icons img{
   width: 35px;
   margin: 15px 5px;
   border-radius: 0;
}

.about-buttons{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   gap: 20px;
}

.project-link {
   display: flex;
   justify-content: center;
   padding: 5px 0;
}

.project-link a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 140px;
   height: 40px;
   gap: 2px;
   text-align: center;
   font-size: 13px;
   font-weight: 500;
   text-decoration: none;
   border-radius: 20px;
   border: 1px solid var(--button);
   background-color: var(--button-back);
   color: var(--button);
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.09);
   transition: 0.2s;
}

.project-link p {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-size: 14px;
   margin-bottom: 1.3px;
}

.deploy-btn svg {
   width: 20px;
   height: 20px;
}

.github-btn svg {
   width: 18px;
   height: 18px;
}

.cant-btn {
   color: var(--button);
   text-decoration: line-through;
   transition: 0.2s;
}











@media (max-width: 500px) {
   .project:active {
      border-color: var(--color-full);
      transform: translateY(0px);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   }

   .project-link a:active {
      color: var(--color-full);
      border: 1px solid var(--color-full);
      background-color: var(--hover-200);
      transform: translateY(-2px);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   }
   .cant-btn a:active {
      color: var(--cant);
      border-color: var(--cant);
      background-color: var(--cant-back);
      text-decoration: line-through;
      cursor: not-allowed;
   }
/* ///////////////////////////////////// */

   #Projects {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .project {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      width: 83%;
      padding: 23px 30px 30px 30px;
      margin: 20px 0;
      border-radius: 12px;
      border: 1px solid var(--color-full);
      background: var(--project);
      transition: 0.2s;
   }
   
   .project-img {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
   }
   
   .project-img img {
      width: 100%;
      cursor: pointer;
   }
   
   .project-about {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      margin: 0px 0px 0px 0px;
   }
   
   .project-about h2 {
      font-size: 28px;
   }
   
   .project-about p {
      font-size: 14px;
      margin: 0;
   }
   
   .stack-icons img{
      width: 35px;
      margin: 20px 5px;
   }
   
   .about-buttons{
      gap: 10px;
   }
   
   .project-link {
      padding: 5px 0;
   }
   
   .project-link a {
      width: 150px;
      height: 40px;
      gap: 5px;
      font-size: 13px;
      font-weight: 500;
      border-color: var(--mobile-button);
      background-color: var(--button-back);
      color: var(--mobile-button);
      transition: 0.07s;
   }
   
   .project-link p {
      font-size: 14px;
      margin-bottom: 0.3px;
   }
   
   .about-buttons {
      margin: 0px 0px -5px 0px;
   }
}