@media (min-width: 430px) {
   #Footer {
      color: var(--color);
   }
   .footer_links:hover {
      border-color: var(--color-full);
   }

   .footer_link:hover {
      color: var(--color-full);
      transform: translateY(-5px);
   }
}

#Footer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px 0 30px;
}

.footer_links {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 70px;
   border-radius: 20px;
   border: 1px solid var(--border);
   background-color: var(--back);
   transition: 0.3s;
}

.footer_link {
   font-size: 38px;
   margin: 5px 10px 0px 10px;
   transition: 0.3s;
   color: var(--color);
}