@media (min-width: 430px) {
   #Footer {
      color: var(--color);
   }
   .footer_links:hover {
      border-color: var(--primary);
      background-color: var(--back-hover);
      box-shadow: var(--shadow-hover);
   }
   .footer_link:hover {
      color: var(--primary);
      transform: translateY(-3px);
   }
}

#Footer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px 0 30px;
}

.footer_links {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 70px;
   border-radius: 20px;
   border: 1px solid var(--border);
   background-color: var(--back);
   box-shadow: var(--shadow);
   transition: 0.2s;
}

.footer_link {
   font-size: 40px;
   margin: 5px 12px 0px 12px;
   transition: 0.2s;
   color: var(--color);
}